<h2>Products</h2>

<div *ngFor="let product of products">
  <img src={{product.image}}>

  <h3>
    <a [title]="product.name + 'details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <p *ngIf="product.rating"> Rating {{product.rating}}/5</p>

  
<a [href]="product.link"><button>Open Page</button></a>

  <button type="button" (click)="shareTelegram(product)">Share in Telegram</button>

  <button class="whatsapp" type="button" (click)="shareWhatsapp(product)">Share in Whatsapp</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
